Examples/MultitenantExample.MvcApplication/Service References/WcfMetadataConsumer/MetadataConsumer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63578/MetadataConsumer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetServiceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DependencyInstanceId" type="q1:guid" />
        <xs:element minOccurs="0" name="DependencyTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServiceImplementationTypeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TenantId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>